.root {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
}

.background {
  position: absolute;
  z-index: 1;
}

.battlefield {
  position: absolute;
  top: 82px;
}

.battlefield-row {
  height: 80px;
}

.battlefield-cell {
  display: inline-block;
}

.tent-attacker {
  position: absolute;
  top: 95px;
}

.tent-defender {
  position: absolute;
  top: 115px;
  right: 0;
}

.bar {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
