.combat-window {
  position: relative;
  width: 640px;
  height: 480px;

  &-tent-attacker {
    position: absolute;
    top: 95px;
  }

  &-tent-defender {
    position: absolute;
    top: 115px;
    right: 0;
  }

  &-bar {
    position: absolute;
    bottom: 0;
  }
}
