.root {
  position: relative;
  width: 448px;
  height: 448px;
  background: url("./assets/background.jpg");
}

.title {
  position: absolute;
  top: 9px;
  width: 100%;
  text-align: center;
}

.portrait {
  position: absolute;
  top: 44px;
  left: 28px;
}

.skills {
  position: absolute;
  top: 44px;
  left: 30%;
  width: 40%;
  text-align: center;
}

.other-portrait {
  position: absolute;
  top: 44px;
  left: 319px;
}

.army {
  position: absolute;
  top: 147px;
  left: 23px;
  display: flex;
}

.other-army {
  position: absolute;
  top: 147px;
  left: 251px;
  display: flex;
}

.troop {
  display: inline-block;
  margin-right: 1px;
}

.artifacts {
  position: absolute;
  top: 193px;
  left: 75px;
  width: 70px;
}

.other-artifacts {
  position: absolute;
  top: 193px;
  left: 304px;
  width: 70px;
}

.artifact {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 1px;
}

.exit {
  position: absolute;
  top: 412px;
  left: 185px;
}
