.root {
  background: url("./assets/background.png");
  height: 229px;
  padding: 20px 35px;
  position: relative;
  width: 402px;
}

@mixin panel {
  position: absolute;
  top: 15px;
  height: 195px;
}

.left-panel {
  left: 35px;
  width: 155px;
  text-align: center;

  @include panel();
}

.right-panel {
  width: 165px;
  right: 35px;

  @include panel();
}

.creature {
  position:relative;
  height: 160px;
  text-align: center;
}

.creature-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.count {
    background: url("./assets/count-background.jpg");
  bottom: 17px;
  display: inline-block;
  height: 38px;
  left: 41px;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  width: 142px;
}

.creature-name {
  text-align: center;
}

.actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 5px;
  padding-bottom: 5px;
}

.dismiss {
  float: left;
}

.exit {
  float: right;
}
