.cursor-hero {
  cursor: url("/assets/cursors/hero.png"), auto;
}

.cursor-move {
  cursor: url("/assets/cursors/move.png"), auto;
}

.cursor-pointer {
  cursor: url("/assets/cursors/pointer.png"), auto;
}

.cursor-town {
  cursor: url("/assets/cursors/town.png"), auto;
}

.cursor-trade {
  cursor: url("/assets/cursors/trade.png"), auto;
}
