@import "../../style/index";

.root {
  @include skillSlot();

  position: relative;
}

.name {
  position: absolute;
  top: 2px;
  width: 100%;
  text-align: center;
}

.value {
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}
