@import "../../style/index";

.root {
  @include screen();

  position: relative;
  background: url("./assets/background.jpg");
}

.adventure-map {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 448px;
  height: 448px;
}

%scroll-button {
  position: absolute;
  display: flex;
  width: 16px;
  height: 16px;
}

.scroll-north-west {
  @extend %scroll-button;

  top: 0;
  left: 0;
}

.scroll-north-east {
  @extend %scroll-button;

  top: 0;
  left: 464px;
}

.scroll-south-west {
  @extend %scroll-button;

  top: 464px;
  left: 0;
}

.scroll-south-east {
  @extend %scroll-button;

  top: 464px;
  left: 464px;
}

.vertical-cell-numbers {
  position: absolute;
  top: 16px;
  left: 0;
  width: 16px;
  height: 2 * 16px + 416px;
}

.horizontal-cell-numbers {
  position: absolute;
  top: 0;
  left: 16px;
  width: 2 * 16px + 416px;
  height: 16px;
}

.vertical-scrollbar {
  position: absolute;
  top: 16px;
  left: 464px;
  width: 16px;
  height: 2 * 16px + 416px;
}

.horizontal-scrollbar {
  position: absolute;
  top: 464px;
  left: 16px;
  width: 2 * 16px + 416px;
  height: 16px;
}

.world-map {
  position: absolute;
  top: 16px;
  left: $SCREEN_HEIGHT;
  width: 144px;
  height: 144px;
}

.options {
  position: absolute;
  top: 161px;
  left: $SCREEN_HEIGHT;
  width: 144px;
  height: 36px;
}

.option-details {
  position: absolute;
  top: 198px;
  left: $SCREEN_HEIGHT;
  width: 144px;
  height: 137px;
}

.buttons {
  position: absolute;
  top: 336px;
  left: 481px;
  width: 144px;
  height: 144px;
}

.message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 448px + 16 + 16;
  height: 15px;
  line-height: 12px;
  text-align: center;
  background: #000;
}
