.high-scores-window {
  background: url("./assets/background.jpg");
  height: 480px;
  position: relative;
  width: 640px;

  &-scores {
    left: 80px;
    position: absolute;
    top: 29px;
    width: 505px;
  }

  &-category {
    left: 8px;
    position: absolute;
    top: 314px;
  }

  &-header {
    margin-bottom: 13px;
  }

  &-score {
    margin-bottom: 8px;
  }

  &-exit {
    left: 603px;
    position: absolute;
    top: 314px;
  }
}
