.root {
  position: relative;
  width: 640px;
  height: 480px;
  background: url("./assets/background.jpg");
}

.scores {
  position: absolute;
  top: 29px;
  left: 80px;
  width: 505px;
}

.category {
  position: absolute;
  top: 314px;
  left: 8px;
}

.header {
  margin-bottom: 13px;
}

.score {
  margin-bottom: 8px;
}

.exit {
  position: absolute;
  top: 314px;
  left: 603px;
}
