.settingName {
  padding-right: 10px;
  text-align: right;
}

.terrainSettings {
  margin-bottom: 10px;
}

.objectSettings {
  margin-bottom: 10px;
}

.landMassSettings {
  margin-bottom: 10px;
  text-align: right;
}
