.locator {
  height: 32;
  position: relative;
  width: 56px;

  &-background {
    left: 1px;
    position: absolute;
    top: 1px;
  }

  &-selection {
    left: 0px;
    position: absolute;
    top: 0px;
  }
}
