.root {
  position: relative;
  width: 470px;
  height: 205px;
  background: url("./assets/background.jpg");
}

.hero-portrait {
  position: absolute;
  top: 30px;
  left: 30px;
}

.title {
  position: absolute;
  top: 35px;
  left: 175px;
  width: 250px;
  text-align: center;
}

.content {
  position: absolute;
  top: 60px;
  left: 175px;
  width: 250px;
  text-align: center;
}

.accept {
  position: absolute;
  bottom: 25px;
  left: 60px;
}

.decline {
  position: absolute;
  right: 60px;
  bottom: 25px;
}
