.root {
  position: relative;
  width: 640px;
  height: 480px;
  background: url("./assets/background.jpg");
}

.content {
  position: absolute;
  top: 133px;
  left: 305px;
  width: 292px;
  height: 110px;
}
