@import "../style/index";

.root {
  @include screen();

  position: relative;
  background: url("./assets/background.jpg");
}

.content {
  position: absolute;
  top: 133px;
  left: 305px;
  width: 292px;
  height: 110px;
}
