.congratulations-window {
  position: relative;
  width: 640px;
  height: 480px;
  background: url("./assets/background.jpg");

  &-content {
    position: absolute;
    left: 305px;
    top: 133px;
    width: 292px;
    height: 110px;
  }
}
