.treasury {
  background: url("./border.png");
  background-color: #000;
  display: inline-block;
  height: 204px;
  padding: 6px 5px;
  width: 94px;

  &-resource {
    display: inline-block;
    width: 50%;
    line-height: 0.5;
    text-align: center;

    &:last-of-type {
      width: 100%;
    }
  }
}
