@import "../../style/index";

.root {
  @include skillSlot();

  position: relative;
  display: inline-block;
}

.background {
  position: absolute;
  top: 0;
}

.morale {
  position: absolute;
  top: 5px;
  left: 3px;
}

.luck {
  position: absolute;
  top: 30px;
}

.experience {
  position: absolute;
  top: 55px;
  width: 100%;
  height: 32px;
}

.experience-value {
  float: right;
  padding-right: 5px;
  line-height: 32px;
}
