.view-window {
  &-legend {
    height: 144px;
    position: relative;
    width: 144px;
  }

  &-legend-background {
    left: 0px;
    position: absolute;
    top: 0px;
  }

  &-exit {
    bottom: 6px;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
