.legend {
  position: relative;
  width: 144px;
  height: 144px;
}

.legend-background {
  position: absolute;
  top: 0;
  left: 0;
}

.exit {
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  text-align: center;
}
