@import "../../style/mirror-background";

.root {
  position: relative;
  width: 2 * 143px;
}

.content {
  left: 0px;
  padding: 45px 20px 30px 20px;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}

.actions {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 20px 20px 20px;
  text-align: center;

  &-confirm {
    text-align: left;
  }

  &-cancel {
    text-align: right;
  }
}

.header {
  background: url("./assets/header.png");
  height: 77px;

  @include mirror-background();
}

.body {
  background: url("./assets/body.png");
  height: 45px;

  @include mirror-background();
}

.footer {
  background: url("./assets/footer.png");
  height: 48px;

  @include mirror-background();
}
