@import "../style/mirror-background";

.spell-book-window {
  position: relative;
  width: 2 * 162px;
  height: 235px;
  background-image: url("./assets/background.png");

  @include mirror-background();

  &-combat-spells {
    position: absolute;
    left: 188px;
    top: 167px;
  }

  &-adventure-spells {
    position: absolute;
    left: 216px;
    top: 153px;
  }

  &-exit {
    position: absolute;
    left: 267px;
    top: 171px;
  }
}
