@import "../style/index";

.root {
  position: relative;
  width: 2 * 162px;
  height: 235px;
  background-image: url("./assets/background.png");

  @include mirror-background();
}

.spell {
  position: absolute;
  width: 50%;
  text-align: center;
}

.spell-0 {
  top: 20px;
  left: 0;
}

.spell-1 {
  top: 80px;
  left: 0;
}

.spell-2 {
  top: 20px;
  right: 0;
}

.spell-3 {
  top: 80px;
  right: 0;
}

.previous-page {
  position: absolute;
  top: 11px;
  left: 9px;
}

.next-page {
  position: absolute;
  top: 12px;
  left: 291px;
}

.combat-spells {
  position: absolute;
  top: 167px;
  left: 188px;
}

.adventure-spells {
  position: absolute;
  top: 153px;
  left: 216px;
}

.exit {
  position: absolute;
  top: 171px;
  left: 267px;
}
