.root {
  padding: 30px;
}

.basic {
  margin-bottom: 70px;
  text-align: right;
}

.difficulty,
.size {
  margin-bottom: 5px;
}

.name {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 30px;
}
