.root {
  display: inline-block;
  width: 94px;
  height: 204px;
  padding: 6px;
  background: url("./assets/border.png");
  background-color: #000;
}

.resource {
  display: inline-block;
  width: 50%;
  text-align: center;

  &:last-of-type {
    width: 100%;
  }
}

.exit {
  text-align: center;
}
