@import "../../style/mirror-background";

.root {
  position: relative;
  width: 640px;
  height: 20px;
}

.auto, .status-bar, .skip {
  display: inline-block;
}

.status-bar {
  width: 2 * 272px;
  height: 20px;
  background: url("./assets/background.jpg");
  text-align: center;

  @include mirror-background();
}
