.root {
  padding: 30px;
}

.setting {
  margin-bottom: 10px;
  line-height: 15px;
}

.basic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 220px;
  margin-bottom: 30px;
  text-align: right;

  & .setting {
    width: 50%;
  }
}

.additional {
  margin-bottom: 30px;
  text-align: center;
}
