.root {
  background: url("./assets/background.jpg");
  background-position-x: 96px;
  position: relative;
  width: 640px;
  height: 480px;
  text-align: center;
}

.banner {
  left: 0px;
  position: absolute;
  top: 0px;
}

.gold-per-day {
  display: inline-block;
  position: relative;
  width: 201px;
  height: 46px;
  background: url("./assets/gold-per-day-background.jpg");
}

.gold-per-day-text {
  bottom: 2px;
  left: 0px;
  padding-right: 20px;
  position: absolute;
  text-align: right;
  width: 100%;
}

.exit {
  text-align: right;
}
