@import "../style/index";

.root {
  @include screen();

  position: relative;
  text-align: center;
  background: url("./assets/background.jpg");
  background-position-x: 96px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
}

.title-container {
  position: absolute;
  top: 3px;
  left: 96px;
  width: $SCREEN_WIDTH - 96;
  padding: 0 40px;
}

.title {
  display: inline-block;
  width: 50%;
}

.date {
  display: inline-block;
  width: 50%;
}

.summary-title {
  float: left;
  width: 96px;
  height: 100%;
}

.summary-content {
  display: inline-block;
  width: $SCREEN_WIDTH - 96;
  height: 100%;
}

@mixin summary {
  position: absolute;
  width: 100%;
}

.hero-class-summary {
  @include summary();

  top: 27px;
  height: 81px;
}

.hero-class-summary-item {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.castle-summary {
  @include summary();

  top: 110px;
  height: 86px;
}

.castle-summary-item {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.town-summary {
  @include summary();

  top: 198px;
  height: 86px;
}

.town-summary-item {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.mine-summary {
  @include summary();

  top: 286px;
  height: 87px;
}

.mine-summary-item {
  display: inline-block;
  width: 14.28%;
  height: 100%;
}

.resource-summary {
  @include summary();

  top: 375px;
  height: 53px;
}

.resource-summary-item {
  display: inline-block;
  width: 14.28%;
  height: 100%;
}

.gold-per-day {
  position: absolute;
  bottom: 5px;
  left: 240px;
  width: 201px;
  height: 46px;
  background: url("./assets/gold-per-day-background.jpg");
}

.gold-per-day-text {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  padding-left: 20px;
  text-align: center;
}

.exit {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
