@import "../../style/index";

.root {
  @include troopSlot();

  position: relative;
  display: inline-block;
}

.creature {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.count {
  position: absolute;
  right: 7px;
  bottom: 2px;
}

.selection {
  position: absolute;
  top: 0;
  left: 0;
}
