.tent {
  display: inline-block;
  position: relative;
  height: 170px;

  &-background-defender {
    transform: scaleX(-1);
  }

  &-banner {
    position: absolute;
    bottom: 0;
  }

  &-banner-attacker {
    right: 0;
  }

  &-banner-container {
    position: relative;
    width: 33px;
    height: 104px;
  }

  &-banner-letter {
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
  }
}
