.root {
  display: inline-block;
  position: relative;
  height: 170px;
}

.defender {
  .background {
    transform: scaleX(-1);
  }
}

.banner {
  position: absolute;
  bottom: 0;
}

.banner-container {
  position: relative;
  width: 33px;
  height: 104px;
}

.banner-letter {
  position: absolute;
  width: 100%;
  top: 10px;
  text-align: center;
}

.attacker {
  .banner {
    right: 0;
  }
}
