.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #757575;
  font-size: 10px;
  text-align: center;
  background-color: #ccc;
  opacity: 0.75;
}

.name {
  font-weight: bold;
}
