@import "../style/index";

.root {
  @include screen();

  position: relative;
  background: url("./assets/background.jpg");
}

.title {
  position: absolute;
  top: 68px;
  width: 100%;
  text-align: center;
}

.portrait {
  @include hero-portrait();

  position: absolute;
  top: 101px;
  left: 49px;
}

.skills {
  position: absolute;
  top: 101px;
  left: 156px;
}

.skill {
  @include skillSlot();

  display: inline-block;
  margin-right: 6px;
}

.additional-stats {
  @include skillSlot();

  position: absolute;
  top: 101px;
  left: 508px;
}

.crest {
  @include crest();

  position: absolute;
  top: 200px;
  left: 49px;
}

.army {
  position: absolute;
  top: 200px;
  left: 156px;
}

.troop {
  @include troopSlot();

  display: inline-block;
  margin-right: 6px;
}

.artifacts {
  position: absolute;
  top: 302px;
  left: 45px;
}

.artifact {
  display: inline-block;
  width: 76px;
  height: 76px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.dismiss {
  position: absolute;
  top: 317px;
  left: 10px;
}

.exit {
  position: absolute;
  top: 317px;
  left: 602px;
}

.status-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
