@import "../../style/mirror-background";

.big-bar {
  position: relative;
  width: 640px;
  height: 20px;
  background: url("./assets/background.jpg");
  text-align: center;

  @include mirror-background();

  &-text {
    position: absolute;
    width: 100%;
    top: -1px;
    text-align: center;
  }
}
