@import "../../style/index";

.root {
  position: relative;
  width: $SCREEN_WIDTH;
  height: 20px;
  text-align: center;
  background: url("./assets/background.jpg");

  @include mirror-background();
}

.text {
  position: absolute;
  top: -1px;
  width: 100%;
  text-align: center;
}
