.root {
  position: relative;
  width: 250px;
  height: 202px;
  background: url("./assets/background.png");
}

.name {
  position: absolute;
  top: 6px;
  width: 100%;
  text-align: center;
}

.portrait {
  position: absolute;
  top: 42px;
  left: 11px;
  width: 101px;
  height: 93px;
}

.characteristics {
  position: absolute;
  top: 36px;
  left: 133px;
  width: 111px;
  height: 105px;
  padding-top: 2px;
  text-align: center;

  > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.cast-spell {
  position: absolute;
  top: 148px;
  left: 15px;
}

.retreat {
  position: absolute;
  top: 148px;
  left: 74px;
}

.surrender {
  position: absolute;
  top: 148px;
  left: 133px;
}

.cancel {
  position: absolute;
  top: 148px;
  left: 192px;
}
