.root {
  position: relative;
  width: 324px;
  height: 459px;
  padding: 38px 22px 20px 18px;
  text-align: center;
  background: url("./assets/background.jpg");
}

.summary {
  position: absolute;
  bottom: 25px;
  width: 324px - (22px + 18px);
}

.casulaties {
  line-height: 50px;
}

.casualty {
  margin-right: 5px;
  padding: 0 5px;
}
