@import "../../style/index";

.root {
  display: inline-block;
  width: 2 * 269px;
  height: 19px;
  text-align: center;
  background: url("./assets/background.jpg");

  @include mirror-background();
}
