.root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 260px;
  padding: 3px 5px;
}

.dwelling {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-bottom: 3px;

  > div {
    vertical-align: top;
  }

  &:nth-child(n+4) {
    flex-direction: row-reverse;

    // FIXME
    .town-population-window-creature {
      transform: scaleX(-1);
    }
  }
}

.creature {
  display: inline-block;
  margin: 0 3px;
}

.dwelling-info {
  display: inline-block;
  line-height: 1;
  text-align: center;
}

.creature-name {
  width: 89px;
  height: 14px;
  margin-bottom: 3px;
  background: url("./assets/name-background.jpg");
}
