.root {
  display: inline-block;
  vertical-align: bottom;
}

.count {
  display: inline-block;
  width: 33px;
  height: 38px;
  margin-left: 10px;
  padding-top: 7px;
  text-align: center;
  background: url("./assets/count-background.png");
}
