.root {
  position: relative;
  width: 322px;
  height: 236px;
  background: url("./assets/background.jpg");

  > div {
    position: absolute;
  }
}

.view-world {
  top: 31px;
  left: 46px;
}

.view-puzzle {
  top: 31px;
  left: 179px;
}

.cast-spell {
  top: 107px;
  left: 46px;
}

.dig {
  top: 107px;
  left: 179px;
}

.okay {
  top: 184px;
  left: 112px;
}
