@import "../../../style/index";

.root {
  position: relative;
  width: 640px;
  height: 20px;
}

.auto,
.status-bar,
.skip {
  display: inline-block;
}

.status-bar {
  width: 2 * 272px;
  height: 20px;
  text-align: center;
  background: url("./assets/background.jpg");

  @include mirror-background();
}
