.root {
  padding-top: 15px;

  div:global(.ant-row) {
    margin-bottom: 6px;
  }

  div[class^="ant-col-"] {
    padding-right: 10px;
  }
}

.title {
  text-align: center;
}

.detail-row {
  text-align: right;
}

.detail-column {
  text-align: center;
}
