.root {
  position: relative;
  width: 16px;
  height: 2 * 16px + 416px;
}

%scroll-button {
  position: absolute;
  display: flex;
}

.up {
  @extend %scroll-button;

  top: 0;
  left: 0;
}

.track {
  position: absolute;
  top: 16px;
  left: 0;
  width: 16px;
  height: 416px;
  padding: 3px 4px;
  background: url("./assets/track.jpg");
}

.thumb {
  position: absolute;
}

.down {
  @extend %scroll-button;

  bottom: 0;
  left: 0;
}
