.root {
  display: inline-block;
  position: relative;
}

.count {
  position: absolute;
  width: 20px;
  height: 11px;
  bottom: 0;
  background: url("./assets/count-background.jpg");
  text-align: center;
  z-index: 1;
}

.attacker-count {
  right: 0;
}

.defender-creature {
  transform: scaleX(-1);
}

.selection {
  position: absolute;
  // FIXME
  top: -2px;
  left: -2px;
}
