.root {
  position: relative;
  display: inline-block;
}

.count {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 20px;
  height: 11px;
  text-align: center;
  background: url("./assets/count-background.jpg");
}

.attacker {
  .count {
    right: 0;
  }
}

.defender {
  .creature {
    transform: scaleX(-1);
  }
}

.selection {
  position: absolute;
  // FIXME
  top: -2px;
  left: -2px;
}
