@import "../../style/index";

.root {
  color: $TEXT_COLOR;
}

.large {
  font-size: 14px;
}

.normal {
  font-size: 12px;
}

.small {
  font-size: 10px;
}

.tiny {
  font-size: 6px;
}

.selected {
  color: #c2eb0b;
}
