.root {
  position: relative;
  width: 322px;
  height: 459px;
  text-align: center;
  background: url("./assets/background.jpg");
}

.game-difficulties-title {
  position: absolute;
  top: 15px;
  display: block;
  width: 100%;
}

.game-difficulties {
  position: absolute;
  top: 36px;
  left: 19px;
}

.game-difficulty {
  display: inline-block;
  width: 71px;
  height: 71px;
}

.opponent-settings-title {
  position: absolute;
  top: 128px;
  display: block;
  width: 100%;
}

.opponent-settings {
  position: absolute;
  top: 149px;
  left: 55px;
}

.opponent-setting {
  display: inline-block;
  width: 65px;
  height: 65px;
  margin-right: 7px;
}

.player-color {
  position: absolute;
  top: 249px;
  left: 36px;
}

.king-of-the-hill {
  position: absolute;
  top: 251px;
  left: 183px;
}

.scenario-title {
  position: absolute;
  top: 331px;
  display: block;
  width: 100%;
}

.scenario-name {
  position: absolute;
  top: 354px;
  left: 24px;
  width: 249px;
  height: 20px;
  line-height: 15px;
  text-align: center;
  background: url("./assets/scenario-name-background.jpg");
}

.select-scenario {
  position: absolute;
  top: 352px;
  left: 273px;
}

.difficulty-rating {
  position: absolute;
  top: 382px;
  display: block;
  width: 100%;
}

.okay {
  position: absolute;
  top: 412px;
  left: 24px;
}

.cancel {
  position: absolute;
  top: 411px;
  left: 202px;
}
