@import "./_constants";

@mixin screen() {
  width: $SCREEN_WIDTH;
  height: $SCREEN_HEIGHT;
}

@mixin hero-portrait() {
  width: 101px;
  height: 93px;
}

@mixin crest() {
  width: 101px;
  height: 93px;
}
