.game-difficulty-box {
  display: inline-block;

  &-image {
    height: 71px;
    position: relative;
    width: 71px;
  }

  &-icon {
    left: 3px;
    position: absolute;
    top: 3px;
  }

  &-selection {
    left: 0px;
    position: absolute;
    top: 0px;
  }
}
