.town-detail-window {
  position: relative;
  width: 640px;
  height: 262px;
  background: url("./assets/background.jpg");

  &-status-bar {
    position: absolute;
    height: 19px;
    bottom: 2px;
    left: 10px;
    z-index: 1;
  }

  &-exit {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
}
