.hero-class-overview {
  display: inline-block;
  vertical-align: bottom;

  &-count {
    display: inline-block;
    height: 38px;
    margin-left: 10px;
    width: 33px;
    background: url("./assets/count-background.png");
    padding-top: 7px;
  }
}
