.mage-guild-window {
  position: relative;
  height: 262px;

  &-structure {
    position: absolute;
    left: 30px;
    bottom: 50px;
  }

  &-spells {
    position: absolute;
    top: 2px;
    left: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  &-spell-scroll {
    width: 33%;
    height: 77px;
    text-align: center;
    margin-bottom: 2px;
  }
}
