.root {
  position: relative;
  height: 262px;
}

.structure {
  position: absolute;
  bottom: 50px;
  left: 30px;
}

.spells {
  position: absolute;
  top: 2px;
  left: 150px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.spell-scroll {
  width: 33%;
  height: 77px;
  margin-bottom: 2px;
  text-align: center;
}
