.recruit-troop-window {
  background: url("/assets/ui/recruit-troop-window/background.jpg");
  height: 294px;
  padding: 20px;
  width: 320px;

  .ant-row {
    text-align: center;
    margin-bottom: 6px;
  }
}
