.animation-background {
  position: relative;
  display: inline-block;
  width: 223px;
  height: 125px;
  background: url("./assets/animation-background.jpg");
}

.animation {
  position: absolute;
  top: 60px;
  left: 50px;
}
