@import "../style/index";

.root {
  @include screen();

  position: relative;
}

.town-view {
  height: 256px;
}

.strip {
  position: relative;
  top: -8px;
  width: 100%;
  height: 212px;
  margin-bottom: -8px;
  background: url("./assets/strip-background.png");
}

.town-name {
  position: absolute;
  top: -6px;
  width: 100%;
  text-align: center;
}

.crest {
  position: absolute;
  top: 14px;
  left: 5px;

  @include crest();
}

.troop {
  @include troopSlot();

  display: inline-block;
  margin-right: 6px;
}

.garrison-army {
  position: absolute;
  top: 14px;
  left: 112px;
}

.hero-portrait {
  position: absolute;
  top: 113px;
  left: 5px;

  @include hero-portrait();
}

.hero-army {
  position: absolute;
  top: 113px;
  left: 112px;
}

.treasury {
  position: absolute;
  top: 8px;
  right: 0;
  width: 94px;
  height: 204px;
}
