.root {
  position: relative;
  width: 640px;
  height: 480px;
}

.strip {
  position: relative;
  width: 100%;
  height: 212px;
  top: -8px;
  background: url("./assets/strip-background.png");
  margin-bottom: -8px;
}

.town-name {
  position: absolute;
  width: 100%;
  top: -6px;
  text-align: center;
}

.crest {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 101px;
}

.troop {
  display: inline-block;
  width: 82px;
  margin-right: 6px;
}

.garrison-army {
  position: absolute;
  top: 14px;
  left: 112px;
}

.hero-portrait {
  position: absolute;
  top: 113px;
  left: 5px;
  width: 101px;
}

.hero-army {
  position: absolute;
  top: 113px;
  left: 112px;
}

.treasury {
  position: absolute;
  top: 8px;
  right: 0px;
  width: 94px;
}
