@import "../../style/index";

.root {
  position: relative;
}

.flag-west {
  position: absolute;
  top: 2 * $MAP_TILE_SIZE;
  left: $MAP_TILE_SIZE;
}

.flag-east {
  position: absolute;
  top: 2 * $MAP_TILE_SIZE;
  left: 3 * $MAP_TILE_SIZE;
}
